@model List<ASI.Basecode.Services.ServiceModels.BookViewModel>


<h2>Books</h2>

<a asp-controller="Book" asp-action="AddBook" class="btn btn-primary">Add Book</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Cover Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Description</td>
                <td>
                    <img src="@book.ImageUrl" alt="Image" width="100" height="100">
                </td>
            </tr>
        }
        
    </tbody>
</table>